{% extends "base.html" %} {% block content %}
<div class="container my-4">
  <h2 class="mb-4">Customer Activity Report</h2>

  <!-- SIDEBAR -->
  {% include "adminSidebar.html" with context %}
  <div class="card shadow-sm">
    <div class="card-body p-5">
      <div class="row" mt-4>
        {% include "dateRangePickerCustomer.html" with context %}
        <div class="col-md-4">
          <select class="form-control" name="type" id="selectType">
            <option value="activity">Active</option>
            <option value="registration">Registration</option>
          </select>
        </div>
        <div class="col-md-4">
          <select class="form-control" name="type" id="selectChartType">
            <option value="line">Lines</option>
            <option value="bar">Bars</option>
          </select>
        </div>
        <div
          id="registration"
          style="height: 500px; width: 1000px; display: none"
        >
          <canvas id="chart"> </canvas>
        </div>
        <div id="activity" style="height: 500px; width: 1000px">
          <canvas id="chart2"> </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="
https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js
"></script>

<script>
  let select = document.getElementById("selectType");
  let selectChart = document.getElementById("selectChartType");
  let registration = document.getElementById("registration");
  let activity = document.getElementById("activity");

  select.addEventListener("change", () => {
    console.log("change");

    if (select.value == "activity") {
      registration.style.display = "none";
      activity.style.display = "flex";
    }
    if (select.value == "registration") {
      registration.style.display = "flex";
      activity.style.display = "none";
    }
  });

  let myChart = new Chart(
    chart, // TypeScript needs "as any" here
    {
      type: "bar",
      options: {
        plugins: {
          title: {
            display: true,
            text: "Customer Registrations Table",
          },
        },
        scales: {
          y: {
            min: 0,
            max: 10,
            title: {
              display: true,
              text: "Number of Customers",
            },
          },
          x: {
            title: {
              display: true,
              text: "Dates",
            },
          },
        },
      },
      data: {
        labels: ["Customers"],
        datasets: [
          {
            label: ["Value"],
            data: [],
          },
        ],
      },
    },
  );
  chart.append(myChart);

  let myChart2 = new Chart(
    chart2, // TypeScript needs "as any" here
    {
      type: "bar",
      options: {
        plugins: {
          title: {
            display: true,
            text: "Customer Activity Table",
          },
        },
        scales: {
          y: {
            min: 0,
            max: 20,
            title: {
              display: true,
              text: "Number of Customers",
            },
          },
          x: {
            title: {
              display: true,
              text: "Dates",
            },
          },
        },
      },
      data: {
        labels: ["Customers"],
        datasets: [
          {
            label: "Number Of Customers",
            data: [],
          },
        ],
      },
    },
  );
  chart2.append(myChart2);

  selectChart.addEventListener("change", () => {
    console.log(myChart.config._config);

    myChart.config._config.type = selectChart.value;
    myChart.update();
    myChart2.config._config.type = selectChart.value;
    myChart2.update();
  });
</script>

{% endblock %}
