<!-- adminSidebar.html -->
<nav
  class="admin-sidebar col-md-3 col-lg-2 d-md-block bg-light vh-100 border-end shadow-sm"
>
  <div class="position-sticky top-0 pt-4 pb-4 px-2">
    <nav class="nav flex-column">
      <!-- Admin Panel -->

      <a
        class="nav-link px-2 py-1 rounded"
        href="{{ url_for('store.customersDashboard',user_id = session['user_id']) }}"
      >
        <span class="text-primary fw-bold mb-2">Customer Panel</span>
      </a>

      <a
        href="{{ url_for('store.storeIndex') }}"
        class="nav-link rounded"
        >Home</a
      >

      <br />
    </nav>
  </div>
</nav>
