<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
/>

<div class="col-md-4 mb-4">
  <input class="form-control" type="text" name="daterange" />
</div>
<div class="col-md-4 mb-4">
  <input type="search" class="form-control" id="searchBar" />
</div>
<script>
  $(function () {
    $('input[name="daterange"]').daterangepicker(
      {
        opens: "left",
      },
      function (start, end, label) {
        populateTable(start.format("YYYY-MM-DD"), end.format("YYYY-MM-DD"));
      },
    );
  });

  async function populateTable(start, end) {
    data = await fetch(
      `http://127.0.0.1:5000/customers/my-profile/items/fetch?start=${start}&end=${end}`,
    ).then((response) => {
      return response.json();
    });

    let TableBody = document.getElementById("tableBody");
    TableBody.innerHTML = `
        `;
    let html = ``;
    for (let index = 0; index < data.length; index++) {
      html += `<tr> 
          
              <td>${data[index]["order_id"] ?? "None"}</td>
               <td>${data[index]["product_name"] ?? "None"}</td>
                <td>${data[index]["order_product_quantity"] ?? "None"}</td>
                 <td>${data[index]["product_price"] ?? "None"}</td>
                  <td>${data[index]["date"] ?? "None"}</td>`;
      html += `</tr>`;
    }
    TableBody.innerHTML = html;
    console.log(data);
  }

  let searchBar = document.getElementById("searchBar");

  searchBar.addEventListener("change", async () => {
    data = await fetch(
      `http://127.0.0.1:5000/customers/my-profile/items/fetch?q=${searchBar.value}`,
    ).then((response) => {
      return response.json();
    });

    let TableBody = document.getElementById("tableBody");
    TableBody.innerHTML = `
        `;
    let html = ``;
    for (let index = 0; index < data.length; index++) {
      html += `<tr> 
          
              <td>${data[index]["order_id"] ?? "None"}</td>
               <td>${data[index]["product_name"] ?? "None"}</td>
                <td>${data[index]["order_product_quantity"] ?? "None"}</td>
                 <td>${data[index]["product_price"] ?? "None"}</td>
                  <td>${data[index]["date"] ?? "None"}</td>`;
      html += `</tr>`;
    }
    TableBody.innerHTML = html;
    console.log(data);
  });
  console.log(searchBar);
</script>
