{% extends "base.html" %} {% block content %}
<!-- <h2>Home Page</h2> -->
<!-- <br /> -->
<!-- <a href="{{ url_for('store.customersRegistration') }}">Go To Customer Registration</a> -->
<!-- <a href="{{url_for('store.customersList')}}"> Turn red light on </a> -->

<div class="page-content text-center">
  <div class="container py-5">
    <h1 class="text-secondary mb-4">Welcome to the Smart Store!</h1>
    <!-- <h3>Please login to continue</h3> -->
    <!-- <p><b>OR</b></p> -->
    <!-- <br> -->

    <br />
        <a
      href="{{ url_for('store.customersRegistration') }}"
      class="btn btn-secondary btn-lg mb-3"
    >
      Customer Registration
    </a>
    <br>
    <a
      href="{{ url_for('store.selfCheckout') }}"
      class="btn btn-primary btn-lg mb-3"
    >
      Self-Checkout
    </a>
    <br />


    {% if session.get('user_role') == 'customer' %}
      <a href="" class="btn btn-secondary btn-lg mb-3">Order History</a>
    {% endif %}

    {% if session.get('user_role') == 'admin' %}

    <a
      href="{{ url_for('store.adminDashboard') }}"
      class="btn btn-success btn-lg mb-3"
    >
      View Admin Dashboard
    </a>
    {% elif session.get('user_role') == 'customer' %}

    <a
      href="{{ url_for('store.customersDashboard') }}"
      class="btn btn-success btn-lg mb-3"
    >
      View Customer Profile
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
